.modal-item-wrapper {
    padding:5vh;

}

.modal-thumbnail {
    border-radius: 4px;
    max-height: 20vh;
    cursor: pointer;

    transition: 0.3s;

    object-fit: cover;
    transition-property: max-height;
    transition-duration: 0.2s;
}

.modal-thumbnail:hover {
    opacity: 0.7;
    max-height: 21vh;


    transition-property: max-height;
    transition-duration: 0.2s;

}

.modal {
    
    display: none;
    position: fixed;
    z-index:3;

    height: 100vh;
    /*width: 100%;*/

    top:0;
    left:0;
    background-color: rgba(0,0,0,0.9);
    
/*
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
*/
}

.modal-image {
    margin: auto;
    display: block;

    max-width: 90%;
    

    animation-name: modal-zoom;
    animation-duration: 0.4s;
}

@keyframes modal-zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.modal-displayed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exit-modal{
    position:absolute;
    top:2vh;
    right:5vh;

    font-size: 3rem;
    font-weight: 700;
    transition:0.2
}

@media screen and (max-width: 740px) {
    .exit-modal{
        position:absolute;
        top:2vh;
        right:vh;
    }


}